@import "splash";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html {
  font-family: 'Noto Sans', sans-serif;
  height: 100%;

  width: 100%;
  background-color: #46A049;

}

a {
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
}
