.community-name{
  text-decoration: none;
  // text-transform: none;
  text-align: center;
  font-size: 40px;
  color: #00600f;
  font-weight: bold;
}

.community-admin{
  text-decoration: none;
  // text-transform: none;
  text-align: center;
  font-size: 24px;
  color: #00600f;
  font-weight: bold;
}

.citizens-header {
  text-decoration: none;
  text-transform: none;
  text-align: center;
  color: #46a049;
  font-weight: 500;
  padding: .25em;
}

.citizen-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.citizen-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.citizen {
  text-decoration: none;
  text-transform: none;
  text-align: left;
  color: #46a049;
  font-size: 24px;
  font-weight: 500;
  padding: .25em;
}


.invite-form{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.invite-form p{
  color: #46a049;
  font-size: 18px;
  font-weight: 500;
  padding: .25em;
  text-align: left;
  margin-bottom: .5em;
}

#email-address{
  color: #46a049;
  font-size: 16px;
  font-weight: 500;
  padding: .25em;
  text-align: left;
  margin-bottom: .25em;
}

.invite-form input[type="text"]{
  border: 1px solid #00600f;
  border-radius: 3px;
  background-color: #ffeeff;
  text-transform: none;
  text-decoration: none;
  padding: .25em;
  border: 2px solid #00600f;
  border-radius: 5px;
  color: #00600f;
  margin-bottom: 1em;
  // margin-left: 1em;
}

#invite-button {
  background-color: #ffeeff;
  text-transform: none;
  text-decoration: none;
  padding: .25em;
  border: 2px solid #00600f;
  border-radius: 5px;
  color: #00600f;
  margin-bottom: 1em;
}

#invite-button:hover {
  background-color: #00600f;
  text-transform: none;
  text-decoration: none;
  padding: .25em;
  border: 2px solid #ffeeff;
  border-radius: 5px;
  color: #ffeeff;
  margin-bottom: 1em;
}