@import 'theme';

.main-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 10%;
  grid-column-gap: 10px;
  grid-template-areas:
    "sidebar main"
    "sidebar main"
    "sidebar footer";
  background-color: $background;
  margin-right: 10%;
  height: 100%;
  width: 100%;
}

.body-container {
  margin: 1em 2em;
}

.form-errors-container{
  color: #c48b9f;
  font-weight: bold;
}

