@import 'theme';

.main-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 10%;
  grid-column-gap: 10px;
  grid-template-areas:
    "sidebar main"
    "sidebar main"
    "sidebar footer";
  height: 100%;
  // background-color: $background;
  background-color: #ffeeff;
  margin-right: 10%;
  width: 90%;
}

.form-errors-container{
  color: #c48b9f;
  font-weight: bold;
}

