@import 'theme';

header {
  align-content: center;
  padding: 10px;
  width: 100%;
  min-height: 80px;
  height: 60px;
  background-color: darkgreen;
}

img.logo {
  object-fit: cover;
}

nav {
  margin: 0 auto;
  height: 100%;
  width: 95%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
}

.top-bar-el-container {
  margin-top: 1em;
  max-height: 50%;
}

.top-bar-user-menu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
  width: 300px;
  color: #ffeeff;
  div {
    font-weight: 800;
    border-right: 2px solid darkolivegreen;

    button {
      font-weight: 800;
    }
  }
  .top-menu-user-menu-wrapper{
    padding-top: .5em;
  }
  .top-menu-user-menu-wrapper-last{
    padding-top: .5em;
    border: none;
  }
  .top-menu-item {
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 1em 1em 0 0;
    color: #ffeeff;
  }
}

.main-nav a{
  color:   #ffeeff;
  font-weight: 600;
}

.display-name{
  background-color: #46a049;
  text-transform: none;
  text-decoration: none;
  padding: 12em;
  border: 2px solid #c48b9f;
  border-radius: 5px;
  color: #ffeeff;
  margin-bottom: 1em;
}
.display-name:hover {
  background-color: #6abf69;
  border: 2px solid #f8bbd0;
  border-radius: 5px;
}


