@import 'theme';

header {
  width: 100%;
  height: 60px;
  background-color: darkgreen;
}

nav {
  margin: 0 auto;
  height: 100%;
  width: 95%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
}

.top-bar-el-container {
  height: 100%;
}

.top-bar-user-menu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
  width: 300px;
  color: #ffeeff;
  // padding-top: 1em;
  div {
    font-weight: 800;
    border-right: 1px solid black;

    // width: 50%;
    button {
      font-weight: 800;
    }
  }
  .top-menu-user-menu-wrapper{
    padding-top: 1em;
  }
  .top-menu-item {
    // align-content: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    background-color: $primary;
    padding: 1em 15px 0px 0px;
    line-height: normal;
    color: #ffeeff;
  }
}


// .top-menu-user-menu-list {
//   // background-color: $surface;
//   background-color: #ffeeff;
//   width: 120px;
//   position: absolute;
//   right: 2.5%;
//   li {
//     width: 100%;
//     padding: 5px 2px 2px 2px;
//     * {
//       display: block;
//       width: 100%;
//       padding: .1em 0 .25em .25em;
//     }
//     button {
//       border-radius: none;
//       max-width: 100%;
//       border: none;
//       background-color: $surface;
//     }
//   }
// }

.main-nav a{
  color:   #ffeeff;
  font-weight: 600;
}

.display-name{
  background-color: #46a049;
  text-transform: none;
  text-decoration: none;
  padding: 12em;
  border: 2px solid #c48b9f;
  border-radius: 5px;
  color: #ffeeff;
  margin-bottom: 1em;
}
.display-name:hover {
  background-color: #6abf69;
  border: 2px solid #f8bbd0;
  border-radius: 5px;
}


// .user-menu-link{
//     text-transform: none;
//   text-decoration: none;
//   color: #46a049;
// }
.user-menu-link{
  background-color: #46a049;
  text-transform: none;
  text-decoration: none;
  padding: 12em;
  border: 2px solid #c48b9f;
  border-radius: 5px;
  color: #ffeeff;
  margin-bottom: 1em;
}

.user-menu-link:hover {
  background-color: #6abf69;
  border: 2px solid #f8bbd0;
  border-radius: 5px;
}

