@import 'theme';

.splash-page {
  width: 100%;
  height: 300%;
  margin: 0 auto;
  color: white;
  font-size: 1.15em;
  background-color: $primary;
}

.splash-page h2 {
  margin-bottom: 1.5em;
  font-size: 1.5em;
}

div.plant-sprites {
  display:flex;
  justify-content: space-around;
  margin-top: 1.5em;
  background-color:#ffeeff;
}

div.header {
  display: flex;
  padding: 1em;
  justify-content: center;
  background-image: linear-gradient(210deg, lightpink, green, darkgreen);
  border: 20px solid darkgreen;
}

div.footer {
  display: flex;
  padding: 3.5em;
  justify-content: center;
  background-color: darkgreen;
}

div.footer li {
  margin-right: 2em;
}

div.splash-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2em;
  margin-bottom: 5em;
}

div.about {
  min-width: 300px;
  max-width: 50%;
  border-radius: 10px;
  margin: 0 auto;
}


div.details {
  text-align: center;
  min-width: 300px;
  max-width: 75%;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 5em;
}


/* SESSION FORM */

div.session-content {
  margin-top: 2.5em;
  min-width: 350px;
  font-family: inherit;
  max-width: 45%;
}

div.session-header, form.session-form, div.session-content-secondary {
  width: 85%;
  margin: 0 auto;
}

div.session-content-secondary {
  margin-top: 5px;
  text-align: center;
}

span.switch-form a {
  margin-left: .5em;
  font-weight: 600;
}

form.session-form > p {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

form.session-form > input {
  font-family: inherit;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 0 5px 10px;
  margin: 10px 0px 10px 0px;
  border-radius: 1px;
  border: solid 2px transparent;
}

button.big-button {
  font-family: inherit;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: palevioletred;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: 0;
  border-radius: 2px;
}
