@import 'theme';

.sprite-img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin: 0px 20px 10px 20px;
}

.sprite-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

