@import 'theme';

.todo-container {
  grid-area: sidebar;
  background-color: $primary;
  min-width: 130px;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
}

.todo-container > h2 {
  font-weight: 600;
  font-size: 1.2em;
  padding-left: .5em;
  padding-bottom: .5em;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-items: end;
  padding: 0 0;
  width: auto;
  height: 100%;
}

.todo-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 16px;
  color: white;
  font-weight: 800;
  &:hover {
    text-decoration: none;
  }
}

.todo li {
  width: 100%;
  height: 45px;
  min-height: 20px;
  display: block;
  border-top: 1px solid darkslategray;
  transition: background-color 0.3s;
  &:hover {
    transition: background-color 0.5s;
    background-color: $secondary-dark;
  }
}

.todo li:last-child {
  border-bottom: 1px solid darkslategray;
}