@import 'theme';

s {
  text-decoration: none;
}

.user-detail-container {
  max-width: 50%;
}

li {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  line-height: 1.43;
  margin-bottom: 7px;
  span {
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
  }
  svg {
    flex-grow: 1;
    height: 12px;
  }
}


